<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FACE RECOGNITION + ATTENDANCE PROJECT</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<!-- As a link -->
<nav class="navbar navbar-light bg-success">
  <a class="navbar-brand" href="#">FACE RECOGNITION + ATTENDANCE PROJECT by glennin</a>
</nav>
<br>
 <div class="mx-auto" style="width: 700px ;border-radius: 5px;">
  <img src="{{ url_for('video_feed') }}" style="border-radius: 5px;">
</div>

<br>
<div style="display: flex;flex-direction: row;margin: auto;">
  <div class="mx-auto" >
    <a href="http://127.0.0.1:5000/">
     <button type="button" class="btn btn-success"style="width: 150px; height:60px; text-align: center;height: auto; border-radius: 8px;outline: none; cursor: pointer;">Upload New image</button>
  </a>
  </div>
  <div  class="mx-auto" >
      <a href="attendence.csv" download="attendence.csv">
     <button type="button" class="btn btn-primary" style="width: 150px;height: 60px;text-align: center;border-radius: 8px;cursor:pointer;outline: none;">download Attendance stylesheet</button>
  </a>
  </div>
</div>
<p class="mt-5 mb-3 text-muted text-center">&copy; 2023 by glen</p>
</body>
</html